body{
  margin:5px;
  font-size: 100%;
  line-height: 1.6em;
  font-family:Arial;
}

#formulario{
  position: relative;
  top:1em;
  left: 30%;
}

#empezar{
  position: relative;
  top:1em;
  left: 2em;
}

#marcador{
  margin-bottom:1em;
}

#juego{
  position: relative;
  top:3em;
  left: 30%;
  margin:1em;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 150px;
  height: 150px;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

audio {
  display: none;
}
