body {
  margin: 5px;
  font-size: 100%;
  line-height: 1.6em;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  place-content: center;
}

#formulario{
    display:grid;
}

h1 {
  padding-top: 30%;
  text-align: center;
}

#cajaX select {
  margin-left: 0.12em;
}

select {
  text-align: center;
}

label X O {
  display: block;
  text-align: center;
}

#empezar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5em;
}

#marcador {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.1em 0em 1.5em;
}

#jugada {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tablero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.casilla {
  display: flex;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  margin-left: -2px;
  margin-bottom: -2px;
  justify-content: center;
  align-items: center;
}

.raya {
  font-weight: bold;
}

audio {
  display: none;
}

footer{
  text-align: center;
  margin-top: 5em;
  border-top: 1px solid grey;
}
